@media screen and (min-width: 769px) and (max-width: 1160px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {   
    .row {
        flex-wrap: wrap;
    }

    .col {
        flex-basis: 100%;
        padding-block: 2rem;
    }
}